openapi: 3.1.0
info:
  title: Nango Actions Integrations API
  description: 'Nango is a developer infrastructure platform for building product

    integrations with external APIs. The Nango API exposes endpoints

    for managing integrations and connections, triggering syncs and

    actions, and proxying authenticated requests to upstream APIs.

    '
  version: '1.0'
servers:
- url: https://api.nango.dev
  description: Nango Cloud production API
security:
- bearerAuth: []
tags:
- name: Integrations
  description: Manage integration definitions.
paths:
  /integrations:
    get:
      tags:
      - Integrations
      summary: List integrations
      operationId: listIntegrations
      responses:
        '200':
          description: List of integrations.
    post:
      tags:
      - Integrations
      summary: Create an integration
      operationId: createIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Integration created.
  /integrations/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Integrations
      summary: Get an integration
      operationId: getIntegration
      responses:
        '200':
          description: Integration details.
    patch:
      tags:
      - Integrations
      summary: Update an integration
      operationId: updateIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Integration updated.
    delete:
      tags:
      - Integrations
      summary: Delete an integration
      operationId: deleteIntegration
      responses:
        '204':
          description: Integration deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Nango secret key supplied as a bearer token.
